.container {
    max-width: 432px;
    border-radius: 16px;
    padding: 24px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.googleButtonSignIn {
    display: flex;
    align-items: center;
    gap: 24px
}

.header {
    display: flex;
    width: 100%;
    gap: 24px;
    flex-direction: column;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-weight: 100;
    font-size: 32px;
}

.closeButton {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.hrStyle {
    width: 100%;
    border-top: 1px solid #E3E3E3;
    color: #E3E3E3;
    margin: 0;
}

.description {
    font-size: 16px;
    text-align: center;
}

.highlightText {
    color: #AD1457;
    font-weight: 600;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

.signInButton {
    font-size: 20px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    color: #000;
    border-radius: 16px;
    max-height: 64px;
    cursor: pointer;
    width: 100%;
    border: 0.5px solid #E3E3E3;
}

.image {
    width: 320px;
    height: 320px;
}

.field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}

.field.active {
    border-color: #7d2ae8;
}

.field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.field.active i {
    color: #7d2ae8;
}

.field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.field button {
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
}

.field button:hover {
    background: #8d39fa;
}

@media(max-width: 721px) {
    .container {
        width: 296px;
        padding: 16px;
        gap: 16px;
    }

    .header {
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    .titleRow {
        width: 100%;
    }

    .title {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }

    .description {
        font-size: 12px;
        text-align: center;
    }

    .highlightText {
        font-size: 12px;
        font-weight: 600;
    }

    .signInButton {
        font-size: 16px;
        padding: 8px;
        border-radius: 16px;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}